#MainNav {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: absolute;
  z-index: 99;
}


a li {
  list-style-type: none;
  padding: 15px 23px;
}

#MainNav a {
  font-weight: 600;
  color: white;
  letter-spacing: .5px;
  font-size: 17px;
}

#MainNav a:hover {
  color: gray;
  border-bottom: 1px solid gray;
}

@media (max-width: 768px) {
  #MainNav {
    flex-direction: column;
    position: absolute;
    left: -100%;
    height: 120vh;
  }

  .dark #MainNav {
    background: #2d2d2d;
  }

  .light #MainNav {
    background: #87ceeb;
  }
}